<?xml version='1.0' encoding='utf-8'?>

<Server port="8005" shutdown="SHUTDOWN">

    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

    <Service name="Catalina">

        <Connector
            port="8080"
            protocol="HTTP/1.1"
            connectionTimeout="20000"
            redirectPort="8443"
            URIEncoding="UTF-8"
            compression="off"
            compressionMinSize="1024"
            noCompressionUserAgents=""
            compressableMimeType="text/html,text/xml,text/plain,text/css,text/javascript,application/javascript"
        />

        <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost" appBase="/container/webapps" unpackWARs="true" autoDeploy="true">
                <Valve
                    className="org.apache.catalina.valves.AccessLogValve"
                    directory="logs"
                    prefix="localhost_access_log"
                    suffix=".txt"
                    pattern="%h %l %u %t &quot;%r&quot; %s %b" />
            </Host>
        </Engine>

    </Service>
</Server>
